body, header, section, h2 {
    margin: 0;
    padding: 0;
}

body {
    background-color: lavenderblush;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: thistle;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

.song-card {
    border: 3px dotted white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
font-family: 'Courier New', monospace;

}

.song-card h2,
.song-card p {
    font-size: 16px;
}

#userRating,
#discussionInput {
    margin-bottom: 10px;
}

#discussionContainer {
    margin-top: 20px;
}

textarea {
            width: 25%;
            margin-top: 10px;
            padding: 20px;
            border: 2px dotted #ccc;
            border-radius: 5px;
        }


button {
    background-color: thistle;
    color: white;
    padding: 3px 8px;
    margin-right: 10px;
    border: 2px dotted black;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 30px; 
    line-height: 30px; 
}

button:hover {
    background-color: deeppink;
}