body {
    background-color: lavenderblush;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: thistle;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
}

button:hover {
    background-color: hotpink;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}